body {
    background: #e9eaea ;
    display: flex;
    justify-content: center;
    width:99vw;
    height: 97vh;
    margin-top: 2%;
}

p {
    font-size: 30px;
    font-family: "Vividly Regualar", sans-serif;
    color: rgb(77, 77, 77);
}

#container {
    background: #ffffff;
    width: 90vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    margin-bottom: 2%;
}

#brackett {
    background: #b2bdd2;
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#class {
    font-size: 23px;
    font-family: "Vividly Regualar", sans-serif;
    color: rgb(255, 255, 255);
}

@font-face {
    font-family: 'the bubble letters';
    src: url('/assets/the\ bubble\ letters.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vividly Regualar';
    src: url('/assets/Vividly-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#title1 {
    font-size: 50px;
    font-family: "Vividly Regualar", sans-serif;
    margin-top: 90px;
}

#title2 {
    font-size: 45px;
    font-weight:550;
    font-family: "Vividly Regualar", sans-serif;
    margin-top: 5px;
}

#title3 {
    font-size: 30px;
    font-family: "Vividly Regualar", sans-serif;
    margin-top: 20px;
    color: rgb(47, 47, 47);
}

#intro {
    width: 80%;
    height: 20vh;
    margin-top: 80px;
}


#threejs {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intructions {
    font-size: 23px;
    font-family: "Vividly Regualar", sans-serif;
    color: rgb(255, 255, 255);
}

#three-ex {
    background: linear-gradient(to bottom, #5992d4 0%, #e2e8ed 100%);
    display:flex;
    width: 100%;
    height: 100%;
    margin-top: 60px;
}