/* Creates the font */
@font-face {
  font-family: 'Levi Windows';
  src: url('/fonts/Windows Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* All pages */
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Buttons container for the bottom of the screen */
.buttons {
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60%;
}
/* Adjusting the buttons container for the capture button */
.page#cameraPage .buttons {
    gap: 30%
}
/* Buttons container adjustments for album */
.page#albumPage .buttons {
    gap: 10%;
}

/* Red circle button for taking images */
.capture {
    width: 50px;
    aspect-ratio: 1/1;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
}

/* Base Rectangle/ window */
.base {
    background-color: #e9e4e4;
    border-radius: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff #747474 #747474 #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    padding-top: 0.5%;
}
/* Adjusts base size per page */
.page#startPage .base {
    width: 40%;
    height: 40vh;
    gap: 6%;
}
.page#filterPage .base,
.page#cameraPage .base,
.page#albumPage .base {
    width: 80%;
    height: 85vh;
}

/* Blue Tab at the top */
.tab {
    background: linear-gradient(90deg, #112f9c 0%, #1a4bfd 100%);
    border-radius: 9px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    position: relative;
    width: 99%;
}
/* Adjusts tab height per page */
.page#startPage .tab {
    height: 18%;
}
.page#filterPage .tab,
.page#cameraPage .tab,
.page#albumPage .tab {
    height: 10%;
}

/* Text for the tab */
.names {
    font-size:20px;
    font-family: "Levi Windows", sans-serif;
    font-weight: 400;
    color: #ffffff;
    padding-left: 3%;
}

/* X button */
.xBtn {
    position: absolute;
    background: #E9E4E4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff #747474 #747474 #ffffff;
    width: 30px;
    right: 2%;
}
/* X button height per page */
.page#startPage .xBtn {
    top: 18%;
    height: 49%;
}
.page#filterPage .xBtn,
.page#cameraPage .xBtn,
.page#albumPage .xBtn {
    top: 18%;
    height: 45%;
}
/* the "x" on the x button */
.x {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif, Times, 'Times New Roman', serif;
    font-weight: 1000;
    color: #555555;
}

/* White Rectangle */
.white {
    background-color: #ffffff;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* White rectangle heights per page */
.page#startPage .white {
    width: 95%;
    height: 50%;
}
.page#filterPage .white {
    width: 60%;
    height: 100%;
}
.page#cameraPage .white {
    width: 70%;
    height: 74%;
}
.page#albumPage .white {
    width: 97%;
    height: 74%;
}
/* CART 263 writing on the white rectangle */
.title {
    font-size: 20px;
    font-family: "Levi Windows", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #555555;
}

/* Start button and container for the filter page */
.container {
    background-color: #e9e4e4;
    border-radius: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff #747474 #747474 #ffffff;
}
/* Perameters for the start page */
.page#startPage .container {
    width: 140px;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* Perameters for the filter page */
.page#filterPage .container {
    width: 98%;
    height: 73%;

    display: flex;
    justify-content:end;
    align-items: center;
}
/* Start text on the start button */
.start {
    font-size: 16px;
    font-family: "Levi Windows", sans-serif;
    font-weight: 400;
    color: #555555;
}

/* Back, next, delete and save buttons */
.btn {
    background-color: #e9e4e4;
    border-radius: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff #747474 #747474 #ffffff;
    width: 120px;
    height: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
/* text for the back button */
.back {
    font-size: 20px;
    font-family: "Levi Windows", sans-serif;
    font-weight: 400;
    color: #555555;
}
/* text for the delete button */
.deleteAll {
    font-size: 20px;
    font-family: "Levi Windows", sans-serif;
    font-weight: 400;
    color: #555555;
}
/* text for the save button */
.saveAll {
    font-size: 20px;
    font-family: "Levi Windows", sans-serif;
    font-weight: 400;
    color: #555555;
}
/* text for the next button */
.next {
    font-size: 20px;
    font-family: "Levi Windows", sans-serif;
    font-weight: 400;
    color: #555555;
}

/* container for the images taken */
#album {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content:flex-start;
    align-items: flex-start;
}

/* file system column */
.fileSystem {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* each row */
.fileRow {
    display: flex;
    align-items: center;
    cursor: pointer;

    font-size: 16px;
    font-family: "Levi Windows", sans-serif;
    font-weight: 400;
    color: #555555;
    gap: 3%;
}
/* folder icon */
.fileIcon {
    width: 26px;
    margin-left: 3%;
}
/* children folders */
.fileChildren {
    display: none;
    flex-direction: column;
    margin-left: 20px;
}

/* filters */
video {
    width: 100%;
    height: 100%;
    object-fit:cover;
    transform: scaleX(-1);
    position:relative;
    z-index: 100;
}

#photo1 {
  filter: invert(100%) hue-rotate(180deg) brightness(110%);
}