@font-face {
    font-family: 'Upheaval TT (BRK)';
    src: url('/fonts/upheavtt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Make the body take the full screen */
body,
html {
    height: 100%;
    margin: 0;
    background-color: #a8d5f1;
    overflow: hidden;
}

/* All pages */
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Buttons container */
.buttons {
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60%;
}

/* Capture button in camera and album pages */
.capture {
    width: 50px;
    aspect-ratio: 1/1;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
}

/* Base Rectangle */
.rectangle-1 {
    background-color: #e9e4e4;
    border-radius: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff #747474 #747474 #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1%;
    gap: 2%;
}

/* Adjust rectangle-1 sizes per page type if needed */
.page#startPage .rectangle-1 {
    width: 40%;
    height: 40vh;
    gap: 5%;
}

.page#filterPage .rectangle-1,
.page#cameraPage .rectangle-1,
.page#albumPage .rectangle-1 {
    width: 80%;
    height: 85vh;
}

/* Blue Tab */
.rectangle-2 {
    background: linear-gradient(90deg, #112f9c 0%, #1a4bfd 100%);
    border-radius: 9px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    position: relative;
    width: 97%;
}

/* Adjust height per page */
.page#startPage .rectangle-2 {
    height: 18%;
}

.page#filterPage .rectangle-2,
.page#cameraPage .rectangle-2,
.page#albumPage .rectangle-2 {
    height: 10%;
}

.names {
    font-size: 24px;
    font-family: "Upheaval TT (BRK)", sans-serif;
    font-weight: 400;
    color: #ffffff;
    padding-left: 3%;
}

/* X button */
.rectangle-3 {
    position: absolute;
    background: #E9E4E4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff #747474 #747474 #ffffff;
    width: 30px;
    right: 2%;
}

/* Height per page */
.page#startPage .rectangle-3 {
    top: 18%;
    height: 49%;
}

.page#filterPage .rectangle-3,
.page#cameraPage .rectangle-3,
.page#albumPage .rectangle-3 {
    top: 18%;
    height: 45%;
}

.x {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif, Times, 'Times New Roman', serif;
    font-weight: 1000;
    color: #555555;
}

/* White Rectangle */
.rectangle-4 {
    background-color: #ffffff;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Heights per page */
.page#startPage .rectangle-4 {
    width: 95%;
    height: 50%;
}

.page#filterPage .rectangle-4 {
    width: 60%;
    height: 100%;
}

.page#cameraPage .rectangle-4 {
    width: 70%;
    height: 74%;
}

.page#albumPage .rectangle-4 {
    width: 90%;
    height: 74%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1);
    position:relative ;
    z-index: 100;
}

.title {
    font-size: 24px;
    font-family: "Upheaval TT (BRK)", sans-serif;
    font-weight: 400;
    color: #555555;
}

/* Rectangle 5 (Start / content container) */
.rectangle-5 {
    background-color: #e9e4e4;
    border-radius: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff #747474 #747474 #ffffff;
}

/* Rectangle 5 (Start) */
.page#startPage .rectangle-5 {
    width: 120px;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Rectangle 5 (content container) */
.page#filterPage .rectangle-5 {
    width: 90%;
    height: 73%;

    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.start {
    font-size: 24px;
    font-family: "Upheaval TT (BRK)", sans-serif;
    font-weight: 400;
    color: #555555;
}

/* Back Button (Rectangle 6) */
.rectangle-6 {
    background-color: #e9e4e4;
    border-radius: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff #747474 #747474 #ffffff;
    width: 120px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    font-size: 24px;
    font-family: "Upheaval TT (BRK)", sans-serif;
    font-weight: 400;
    color: #555555;
}


/* Next Button (Rectangle 7) */
.rectangle-7 {
    background-color: #e9e4e4;
    border-radius: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff #747474 #747474 #ffffff;
    width: 120px;
    height: 80%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.next {
    font-size: 24px;
    font-family: "Upheaval TT (BRK)", sans-serif;
    font-weight: 400;
    color: #555555;
}

/* Buttons container adjustments for camera */
.page#cameraPage .buttons{
    gap: 30%
}

/* Buttons container adjustments for album */
.page#albumPage .buttons {
    gap: 60%;
}